.countdown {
  width: 300px;
  height: 169px;
  border: 1px solid #ccc;
  /* font-family: Courier; */
  font-family: monospace;
  font-size: 14px;
  font-weight: 300;
  user-select: none;
}

.header {
  height: 20px;
  line-height: 20px;
  /* background: #c0fc99; */
  /* color: #04661d; */
  text-align: center;
  font-weight: 300;
  padding-top: 10px;
}

.sheet {
  background: #eee;
  /* background: #dcffc5; */
  /* color: #138d32; */
  font-weight: 300;
}

.list {
  padding: 20px 0;
  text-align: center;
}

.control {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.active {
  width: 32px;
  height: 32px;
  background: #ddd;
  border: 1px solid #ccc;
  /* border-bottom: 3px solid #0c0; */
  border-bottom: 3px solid #555;
}

.inactive {
  width: 32px;
  height: 32px;
  background: #ddd;
  border: 1px solid #ccc;
  border-bottom: 3px solid #fff;
}