.input {
  width: 298px;
  height: 25px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  line-height: 25px;
}

.clean {
  width: 302px;
  height: 30px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}